Accès à la BD

In [8]:
import pandas as pd
df=pd.read_csv('https://www-lisic.univ-littoral.fr/~teytaud/files/Cours/Apprentissage/data/auto-mpg.data', sep = ',')

In [9]:
df.head(5)

    mpg  cylinders  displacement  ...  year  origin                       name
0  18.0          8         307.0  ...    70       1  chevrolet chevelle malibu
1  15.0          8         350.0  ...    70       1          buick skylark 320
2  18.0          8         318.0  ...    70       1         plymouth satellite
3  16.0          8         304.0  ...    70       1              amc rebel sst
4  17.0          8         302.0  ...    70       1                ford torino

[5 rows x 9 columns]

In [10]:
df1=df.drop(columns=["name"])

In [12]:
df1

      mpg  cylinders  displacement  ...  acceleration  year  origin
0    18.0          8         307.0  ...          12.0    70       1
1    15.0          8         350.0  ...          11.5    70       1
2    18.0          8         318.0  ...          11.0    70       1
3    16.0          8         304.0  ...          12.0    70       1
4    17.0          8         302.0  ...          10.5    70       1
..    ...        ...           ...  ...           ...   ...     ...
387  27.0          4         140.0  ...          15.6    82       1
388  44.0          4          97.0  ...          24.6    82       2
389  32.0          4         135.0  ...          11.6    82       1
390  28.0          4         120.0  ...          18.6    82       1
391  31.0          4         119.0  ...          19.4    82       1

[392 rows x 8 columns]

In [13]:
y=df1["mpg"]

In [47]:
x=df1.loc[:,["cylinders",	"displacement",	"horsepower",	"weight",	"acceleration",	"year",	"origin"]]
y=df1.loc[:,"mpg"]

In [48]:
x

     cylinders  displacement  horsepower  weight  acceleration  year  origin
0            8         307.0       130.0  3504.0          12.0    70       1
1            8         350.0       165.0  3693.0          11.5    70       1
2            8         318.0       150.0  3436.0          11.0    70       1
3            8         304.0       150.0  3433.0          12.0    70       1
4            8         302.0       140.0  3449.0          10.5    70       1
..         ...           ...         ...     ...           ...   ...     ...
387          4         140.0        86.0  2790.0          15.6    82       1
388          4          97.0        52.0  2130.0          24.6    82       2
389          4         135.0        84.0  2295.0          11.6    82       1
390          4         120.0        79.0  2625.0          18.6    82       1
391          4         119.0        82.0  2720.0          19.4    82       1

[392 rows x 7 columns]

In [49]:
y

0      18.0
1      15.0
2      18.0
3      16.0
4      17.0
       ...
387    27.0
388    44.0
389    32.0
390    28.0
391    31.0
Name: mpg, Length: 392, dtype: float64

In [35]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_absolute_error,mean_squared_error, make_scorer

import matplotlib.pyplot as plt
x=df1.loc[:,["cylinders",	"displacement",	"horsepower",	"weight",	"acceleration",	"year",	"origin"]]
y=df1.loc[:,"mpg"]

In [58]:
knn=KNeighborsRegressor(n_neighbors=1,metric="euclidean" )

k_range=range(1,31)
metrics=["manhattan","euclidean"]
#scoring_metric=make_scorer(mean_absolute_error)

param_grid=dict(n_neighbors=k_range, metric=metrics)


grid = GridSearchCV(knn, param_grid, cv=5, scoring="neg_mean_absolute_error")
grid.fit(x, y)


print(grid.cv_results_["mean_test_score"])

#plt.plot(k_range, -1*grid.cv_results_["mean_test_score"])
#plt.xlabel('Value of K for KNN manhattan')
#plt.ylabel('Cross-Validated error')

[-3.96846803 -3.58024343 -3.50801147 -3.47375203 -3.48721    -3.41144434
 -3.44113878 -3.44992859 -3.46682607 -3.46660402 -3.47885574 -3.49279617
 -3.49488902 -3.51555733 -3.50185156 -3.51546596 -3.52640663 -3.53813751
 -3.56269034 -3.57021762 -3.58290938 -3.57346537 -3.5937787  -3.59986625
 -3.59593028 -3.60228597 -3.59571856 -3.59722481 -3.58714401 -3.58494352
 -4.11566375 -3.74778806 -3.71244185 -3.67347128 -3.65630055 -3.64663637
 -3.6007952  -3.63175065 -3.6226896  -3.60754008 -3.63096692 -3.6256367
 -3.62925698 -3.61469838 -3.62559926 -3.62256552 -3.64110048 -3.63849634
 -3.65740532 -3.65099594 -3.65661798 -3.66470995 -3.66623118 -3.66371781
 -3.65562506 -3.66787095 -3.67346533 -3.67488594 -3.68472842 -3.68652905]

In [59]:
grid.best_estimator_

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='manhattan',
                    metric_params=None, n_jobs=None, n_neighbors=6, p=2,
                    weights='uniform')

In [62]:
knn=KNeighborsRegressor(n_neighbors=1,metric="manhattan" )
k_range=range(1,31)
metrics=["manhattan","euclidean"]
scoring_metric=make_scorer(mean_squared_error)
param_grid=dict(n_neighbors=k_range,metric=metrics)
grid = GridSearchCV(knn, param_grid, cv=5, scoring="neg_mean_squared_error")
grid.fit(x, y)
print(grid.cv_results_["mean_test_score"])
#plt.plot(k_range, grid.cv_results_["mean_test_score"])
#plt.xlabel('Value of K for KNN manhattan')
#plt.ylabel('Cross-Validated error')

[-29.16745505 -23.59026225 -21.81376223 -21.43134242 -21.79989701
 -21.07869678 -21.52280713 -21.6972029  -21.84617512 -21.75218481
 -21.97709406 -22.10261048 -22.19504063 -22.36307488 -22.07744418
 -22.17565021 -22.3462482  -22.33846036 -22.56035653 -22.70014453
 -22.85846618 -22.71831828 -22.90403447 -22.96635404 -22.84030186
 -22.82707916 -22.68874187 -22.69286125 -22.57868706 -22.54428931
 -30.68233301 -25.02965182 -24.54531949 -23.92441464 -23.80952604
 -23.67016676 -23.25605932 -23.48152957 -23.36050462 -23.4002309
 -23.41253122 -23.44705794 -23.4255999  -23.24300499 -23.40973951
 -23.47699297 -23.66903921 -23.56429026 -23.76446277 -23.73841018
 -23.80572133 -23.76821886 -23.70295136 -23.70568289 -23.66726313
 -23.66078912 -23.6678715  -23.67092466 -23.71673532 -23.68841822]

In [63]:
grid.best_params_

{'metric': 'manhattan', 'n_neighbors': 6}